binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open Terminal: Kitty" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Open Launcher: Noctalia" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Alt+Space hotkey-overlay-title="Open Session: Noctalia" { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+S hotkey-overlay-title="Open Control-Center: Noctalia" { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Comma hotkey-overlay-title="Open Settings: Noctalia" { spawn-sh "noctalia msg settings-toggle"; }
    Mod+Ctrl+V hotkey-overlay-title="Open Clipboard: Noctalia" { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Mod+Shift+W hotkey-overlay-title="Open Wallhaven Browser: Noctalia" { spawn-sh "noctalia msg panel-toggle noctalia/wallhaven:browser"; }
    Mod+Shift+N hotkey-overlay-title="Open Notes: Noctalia" { spawn-sh "noctalia msg panel-toggle noctalia/notes:panel"; }
    Mod+Shift+Z hotkey-overlay-title="Open Browser: Chromium" { spawn "chromium"; }
    Mod+Shift+Alt+Z hotkey-overlay-title="Open Private Window: Chromium" { spawn-sh "chromium --incognito"; }
    Mod+Shift+E hotkey-overlay-title="Open File Manager: Nautilus" { spawn "nautilus"; }
    Mod+Shift+A hotkey-overlay-title="Open ChatGPT: Chromium" { spawn-sh "chromium --app=https://chatgpt.com"; }
}
