binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open Terminal: Kitty" { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Open Launcher: Noctalia" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Alt+Space hotkey-overlay-title="Open Session: Noctalia" { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+S hotkey-overlay-title="Open Control-Center: Noctalia" { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+Comma hotkey-overlay-title="Open Settings: Noctalia" { spawn-sh "noctalia msg settings-toggle"; }
    Mod+Ctrl+V hotkey-overlay-title="Open Clipboard: Noctalia" { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Mod+Ctrl+Slash hotkey-overlay-title="Open wallhaven browser: Noctalia" { spawn-sh "noctalia msg panel-toggle noctalia/wallhaven:browser"; }
    Mod+Shift+N hotkey-overlay-title="Open Notes: Noctalia" { spawn-sh "noctalia msg panel-toggle noctalia/notes:panel"; }
    Mod+Shift+Z   hotkey-overlay-title="Open Browser: Firefox" { spawn "firefox"; }
    Mod+Shift+E hotkey-overlay-title="Open file manager: Nautilus" { spawn "nautilus"; }
}
