// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// Modular config: each section lives in its own file.
// See the wiki for include semantics:
// https://niri-wm.github.io/niri/Configuration:-Include

include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "settings.kdl"
include "window-rules.kdl"
include "binds/binds-apps.kdl"
include "binds/binds-media.kdl"
include "binds/binds-navigation.kdl"
include "binds/binds-windows.kdl"
include "binds/binds-system.kdl"

include "noctalia.kdl"
