layout {

    focus-ring {
        active-color   "#e49d67"
        inactive-color "#291d14"
        urgent-color   "#9a5a2a"
    }

    border {
        active-color   "#e49d67"
        inactive-color "#291d14"
        urgent-color   "#9a5a2a"
    }

    shadow {
        color "#291d1470"
    }

    tab-indicator {
        active-color   "#e49d67"
        inactive-color "#8d430c"
        urgent-color   "#9a5a2a"
    }

    insert-hint {
        color "#e49d6780"
    }
}

recent-windows {
    highlight {
        active-color "#e49d67"
        urgent-color "#9a5a2a"
    }
}
